In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv("../data/weight-height.csv")
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [3]:
pd.get_dummies(df['Gender'], prefix='Gender').head()

   Gender_Female  Gender_Male
0              0            1
1              0            1
2              0            1
3              0            1
4              0            1

In [4]:
df["Height (feet)"] = df["Height"] / 12
df["Weight (100lbs)"] = df["Weight"] / 100

In [5]:
df.describe()

             Height        Weight  Height (feet)  Weight (100lbs)
count  10000.000000  10000.000000   10000.000000     10000.000000
mean      66.367560    161.440357       5.530630         1.614404
std        3.847528     32.108439       0.320627         0.321084
min       54.263133     64.700127       4.521928         0.647001
25%       63.505620    135.818051       5.292135         1.358181
50%       66.318070    161.212928       5.526506         1.612129
75%       69.174262    187.169525       5.764522         1.871695
max       78.998742    269.989699       6.583229         2.699897

In [8]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
df["Heighmms"] = mms.fit_transform(df[["Height"]])
df["Weightmms"] = mms.fit_transform(df[["Weight"]])

In [16]:
df["Heighmms"]

0       0.791728
1       0.586958
2       0.802364
3       0.706182
4       0.631424
5       0.525149
6       0.587087
7       0.569437
8       0.515686
9       0.371665
10      0.684529
11      0.702537
12      0.424618
13      0.607219
14      0.605629
15      0.541021
16      0.733970
17      0.392600
18      0.621651
19      0.552761
20      0.551914
21      0.613541
22      0.480522
23      0.846668
24      0.551030
25      0.561171
26      0.599399
27      0.749434
28      0.531950
29      0.575417
          ...
9970    0.459079
9971    0.419521
9972    0.258356
9973    0.261724
9974    0.449991
9975    0.484677
9976    0.291595
9977    0.413643
9978    0.125836
9979    0.315047
9980    0.251020
9981    0.249848
9982    0.630887
9983    0.467649
9984    0.193401
9985    0.557008
9986    0.367469
9987    0.458736
9988    0.213279
9989    0.270539
9990    0.360467
9991    0.338522
9992    0.315929
9993    0.233158
9994    0.195472
9995    0.481473
9996    0.517635
9997    0.388301
9998    0.597160
9999    0.310529
Name: Heighmms, dtype: float64

In [17]:
df.describe()

,Height,Weight,Height (feet),Weight (100lbs),Heighmms,Weightmms
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,66.367560,161.440357,5.530630,1.614404,0.489352,0.471238
std,3.847528,32.108439,0.320627,0.321084,0.155546,0.156406
min,54.263133,64.700127,4.521928,0.647001,0.000000,0.000000
25%,63.505620,135.818051,5.292135,1.358181,0.373651,0.346427
50%,66.318070,161.212928,5.526506,1.612129,0.487352,0.470130
75%,69.174262,187.169525,5.764522,1.871695,0.602820,0.596569
max,78.998742,269.989699,6.583229,2.699897,1.000000,1.000000